#!/bin/bash

# navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'

# shorts
alias c='clear'
alias g='goto'
alias h='history'
alias m='micro'
alias r='. ranger'
alias v='vim'
alias ll='ls -lpah'

# colors
alias grep='grep --color=auto'

# curl
alias curl='curl -#'

# untar
alias untar='tar xvf'

# copy/paste
alias copy='pbcopy'
alias paste='pbpaste'

# docker
alias compose='docker compose'
alias ds='docker ps'
alias dcu='docker compose up -d'
alias dce='docker compose exec'

# git
alias ga='git add'
alias gc='git commit'
alias gca='git commit -a'
alias gd='git diff'
alias gl='git log --pretty="format:%Cgreen%h%Creset %an - %s" --graph -n 20'
alias gp='git push'
alias gpt='git push --tags'
alias gpr='git pull --rebase'
alias gr='git reset'
alias gs='git status'
alias gst='git status'

# webpack
alias wp='npx webpack --progress --colors'

# utils
alias hc='rm $HISTFILE'
alias rm='rm -i'
alias rmdir='rm -ri'

# random
alias weather='curl -4 http://wttr.in/Porto,Portugal'

# cat
if command -v batcat &>/dev/null; then
  alias bat='batcat'
  alias bat='bat --theme="base16"'
fi

# gh
if command -v gh &>/dev/null; then
  alias gist='gh gist create'
fi

# bundler
alias bx='bundler exec'
