#!/bin/bash

# navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'

# shorts
alias c='clear'
alias g='git'
alias h='history'

# navigation
if type eza &>/dev/null; then
  alias ls='eza -lh --group-directories-first --icons=auto'
  alias ll='ls -a'
else
  alias ls='ls --color=auto'
  alias ll='ls -lpah'
fi

# colors
alias grep='grep --color=auto'

# curl
alias curl='curl -#'

# untar
alias untar='tar xvf'

# docker
alias compose='docker compose'

# utils
alias rm='rm -i'
alias rmdir='rm -ri'

# random
alias weather='curl -4 http://wttr.in/Porto,Portugal'
alias sft='sftp -R 128 -B 65536'

# cat
if type batcat &>/dev/null; then
  alias bat='batcat'
  alias batcat='batcat --theme="base16"'
fi

# gh
if type gh &>/dev/null; then
  alias gist='gh gist create'
fi

# bundler
if type bundle &>/dev/null; then
  alias bx='bundler exec'
fi

# rails
alias r='bin/rails'
alias rc='r c'
alias t='bin/rspec --no-profile --format progress'
