#!/bin/bash

# navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ~='cd ~'

# shorts
alias c='clear'
alias h='history'
alias v='vim'
alias ll='ls -lpah'

# colors
alias grep='grep --color=auto'

# curl
alias curl='noglob curl -#'

# untar
alias untar='tar xvf'

# copy/paste
alias copy='pbcopy'
alias paste='pbpaste'

# docker
alias ds='docker ps'

# git
alias ga='git add'
alias gc='git clone'
alias gca='git commit -a'
alias gd='git diff'
alias gl='git log --pretty="format:%Cgreen%h%Creset %an - %s" --graph'
alias gst='git status'
alias gp='git push'
alias gpr='git pull --rebase'
alias gpt='git push --tags'
alias gr='git reset'
alias gs='git status'

# webpack
alias wp='./node_modules/.bin/webpack --progress --colors'

# utils
alias hc='rm $HISTFILE'
alias rmdir='rm -ri'
