[color]
	ui = true

[user]
	name = André Costa
	email = andreccosta@me.com

[core]
	autocrlf = false
	editor = nano
	fscache = true
	fsmonitor = false
	symlinks = true

[init]
	defaultBranch = main

[alias]
	a = add
	aa = add .
	amend = commit --amend --no-edit
	ap = add --patch
	b = symbolic-ref --short HEAD
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	c = commit
	ca = !git add -u && git commit -m
	cm = commit -m
	co = checkout
	d = diff --color
	ds = diff --staged --color
	del = branch -D
	fo = fetch origin
	fom = fetch origin master
	fum = fetch upstream master
	rom = !git fetch origin master && git rebase origin/master
	rum = !git fetch upstream master && git rebase upstream/master
	nb = switch origin/master --no-track -c
	l = log --pretty='format:%C(green)%h%C(reset) %C(bold blue)%ar%C(reset) %an : %s' -n 20 --graph
	last = log -1 HEAD
	s = status
	sb = !git switch $(git branch | fzf)
	ss = status -sb
	st = status
	sw = switch
	diffs = diff --cached
	review = diff origin/master...
	review-files = diff origin/master... --name-only
	undo = reset --soft HEAD^
	rbi = !sh -c \"git rebase -i `git merge-base $1 HEAD`\" -
	r = restore
	rs = restore --staged

[branch]
	sort = -comitterdate

[fetch]
	prune = true

[pull]
	rebase = false
	ff = only

[push]
	autoSetupRemote = true
	default = current

[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f

[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:~/code/src/github.com/amplemarket/"]
	path = ~/code/src/github.com/amplemarket/.gitconfig
