[color]
	ui = true
[user]
	name = André Costa
	email = andreccosta@me.com
[push]
	default = matching
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
[core]
	editor = code --wait
[init]
	defaultBranch = main
[alias]
	cm = commit
	cmm = commit -m
	co = checkout
	l = log --pretty='format:%C(green)%h%C(reset) %C(bold blue)%ar%C(reset) %an : %s' --graph
	last = log - 1 HEAD
	st = status
	diffs = diff --cached
[pull]
	rebase = true
