format = """\
${custom.tmux}\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$fill\
$cmd_duration\
$battery\
$line_break\
$jobs\
$status\
$character\
"""

add_newline = false

[battery]
format = ' [$symbol$percentage]($style)'

[[battery.display]]
threshold = 10
style = 'bold red'

[[battery.display]]
threshold = 30
style = 'bold yellow'

[character]
format = '$symbol '
success_symbol = '[❯❯](bold green)'
error_symbol = '[❯❯](bold red)'

[cmd_duration]
format = " [$duration]($style)"

[directory]
format = "[$path]($style) "

[fill]
symbol = ' '

[git_branch]
format = "[$symbol$branch]($style) "
symbol = ""

[git_status]
format = '([$all_status$ahead_behind]($style)) '
conflicted = " "
deleted = " "
modified = " "
stashed = " "
staged = " "
renamed = " "
untracked = " "
ignore_submodules = true

[custom.tmux]
when = 'test -n "$TMUX"'
symbol = " "
style = "bold blue"
format = "[$symbol]($style) "
